.footer {
  position: absolute;
  width: 100%;
  height: 179px;
  @include respond-below(xs) {
    height: unset;
  }

  background: #f4f4f4;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include respond-below(xs) {
    flex-direction: column;
  }

  height: 100%;
  .footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include respond-below(mlg) {
      margin-left: 40px;
    }
    @include respond-below(xs) {
      margin-top: 20px;
      margin-left: 0;
    }
    .logo-inf{
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;

      text-align: center;

      color: #161616;

      margin-right: 20px;
    }
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include respond-below(mlg) {
      margin-right: 40px;
    }
    @include respond-below(xs) {
      margin-right: 0;
      align-items: center;
      margin-top: 20px;
    }
    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      .number {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;

        color: #161616;
      }
    }
    .addres {
      margin-bottom: 20px;
      p {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        text-align: center;

        color: #161616;
      }
    }
    .instagram {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include respond-below(xs) {
        margin-bottom: 20px;
      }
      img {
        margin-right: 13px;
      }
      .instagram-inf {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        color: #161616;
      }
    }
  }
}
