.fullscreen {
  position: relative;
  &__container {
    position: relative;
  }
  .fullscreen-content__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1160px;
    z-index: 20;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    @include respond-between(xs, lg-container) {
      padding: 0 34px;
    }
    .number {
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      margin-top: 30px;
      a {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        
        color: #FFFFFF;
      }
      @include respond-below(sm) {
        align-self: unset;
      }

      img {
        margin-right: 20px;
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h1 {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        @include respond-below(sm) {
          font-size: 50px;
          line-height: 63px;
        }
        @include respond-below(xs) {
          font-size: 35px;
          line-height: 43px;
        }
        color: #FFFFFF;
        text-align: center;
        max-width: 557px;
        margin-bottom: 40px;
      }

      p {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 38px;
        @include respond-below(xs) {
          font-size: 20px;
          line-height: 26px;
        }
        color: #FFFFFF;
        text-align: center;
        max-width: 460px;
        margin-bottom: 40px;
      }
    }
    .service-attributes {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
      @include respond-below(xs) {
        display: none;
      }
      .attribute:not(:last-child) {
        margin-right: 130px;
        @include respond-below(sm) {
          margin-right: 30px;
        }
      }
      .attribute {
        width: 125px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-bottom: 20px;
        }
        p {
          font-family: $Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
  
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;
  
          color: #FFFFFF;
        }
      }
    }
  }
  // .fullscreen_slider {
  //   height: calc(100vh);
  // }

  &__item {
    display: inline-block;
    width: 100%;
    height: calc(100vh);
    background-color: #E4E3E2 !important;
    background-size: cover !important;
    background-position: bottom center !important;
    filter: brightness(60%);
    @include respond-below(xs) {
      height: 500px;
    }
  }

}
