.btn-wrapper {
  @include respond-below(sm) {
    width: 100%;
    height: 100px;
  }
  .call-btn {
    width: 100%;
    .main-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      background: #EE860C;
      border-radius: 10px;

      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;

      width: 258px;
      height: 50px;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @include respond-below(sm) {
        width: 100%;
        height: 100px;
        font-size: 30px;
      }
      @include respond-below(xs) {
        border-radius: unset;
      }
      @include respond-below(mxs) {
        font-size: 22px;
      }
      color: #FFFFFF;
    }
  }
}
