.small__block {
  width: 360px;
  margin-left: 40px;
  margin-bottom: 40px;
  @include respond-below(mlg) {
    width: 570px;
    margin-right: 40px;
  }
  @include respond-below(sm) {
    width: 320px;
    margin-right: 0px;
    margin-left: 0px;
  }
  flex-grow: 1;
}

.big__block {
  width: 560px;
  margin-left: 40px;
  margin-bottom: 40px;
  flex-grow: 1;
  @include respond-below(mlg) {
    margin-right: 40px;
  }
  @include respond-below(sm) {
    width: 320px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  @include respond-below(sm) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  h2 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    @include respond-below(sm) {
      font-size: 30px;
      line-height: 30px;
    }
    color: #161616;

    margin-bottom: 40px;
  }

  &__blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    :first-child {
      margin-left: 0;
      @include respond-below(mlg) {
        margin-left: 40px;
        margin-right: 40px;
      }
      @include respond-below(sm) {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
    :nth-child(4) {
      margin-left: 0;
      @include respond-below(mlg) {
        margin-left: 40px;
        margin-right: 40px;
      }
      @include respond-below(sm) {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  }
}
.service {
  height: 237px;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.28);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .simple {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    text-align: center;

    color: #161616;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .bold {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    
    text-align: center;
    
    color: #161616;
  }
}
