$Montserrat: "Montserrat";


@font-face {
  font-family: $Montserrat;
  src: font-url("../fonts/Montserrat-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $Montserrat;
  src: font-url("../fonts/Montserrat-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $Montserrat;
  src: font-url("../fonts/Montserrat-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $Montserrat;
  src: font-url("../fonts/Montserrat-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: $Montserrat;
  src: font-url("../fonts/Montserrat-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
