* {
  font-size: 16px;
  font-family: $Montserrat;
}

// Общий контейнер страницы
.page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

// Внутренний контейнер
.inner-container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

//верхний отступ
.mt {
  margin-top: 115px;

  @include respond-below(md) {
    margin-top: 100px;
  }
}

//нижний отступ
.mb {
  margin-bottom: 115px;

  @include respond-below(md) {
    margin-bottom: 90px;
  }
}

.margin_t_20 {
  margin-top: 20px !important;
}
.margin_t_33 {
  margin-top: 33px !important;
}
.margin_t_40 {
  margin-top: 40px !important;
}
.margin_t_60 {
  margin-top: 60px !important;
}
.margin_t_120 {
  margin-top: 115px !important;

  @include respond-below(sm) {
    margin-top: 96px !important;
  }
}



.margin_b_0 {
  margin-bottom: 0 !important;
}
.margin_b_60 {
  margin-bottom: 60px !important;
}
.margin_b_120 {
  margin-bottom: 120px !important;
  @include respond-below(sm) {
    margin-bottom: 100px !important;
  }
}

.slick-slide {
  height: unset; // на битриксе ломалась высота слайдера
}


// Блокировка скролла страницы при открытии мобильного меню или другого модального окна.
.overflow-hidden {
  &-mobile {
    @include respond-below(lg-container) {
      height: 100%;
      overflow: hidden;
      width: 100%;
      position: fixed;
    }
  }
}
