/**
* Цвета из палитры UI KIT
* Секция "Sector colours"
*/
$purple_darkest:      #353153; // darkest
$purple_darker:       #3A365A;
$purple_darker-opacity: #3A365A80;
$purple_dark:         #344060;
$purple:              #665B80; // middle
$purple_brighter:     #8D7FA4;
$purple_lightest:     #B7AFC4; // lighter
$purple_dark-opacity: #34406022;
$light_purple_lightest: #b7afc4;

$yellow_darkest:      #C08D3D;
$yellow_darkest-opacity: #C08D3D80;
$yellow_darker:       #C8A155;
$yellow_dark:         #D4B573;
$yellow_brighter:     #DFC990;
$yellow_lightest:     #EBDCAE;

$light_blue_darkest:  #44687E;
$light_blue_darkest-opacity:  #44687E80;
$light_blue_darker:   #447287;
$light_blue_dark:     #5E8094;
$light_blue_brighter: #718C9F;
$light_blue_lightest: #95A9B6;
$light_blue_lightest-opacity: #95A9B666;

$dark_blue_darkest:   #344060;
$dark_blue_darker:    #425179;
$dark_blue_dark:      #506392;
$dark_blue_brighter:  #6377AA;
$dark_blue_lightest:  #7C8AB8;

$green_darkest:       #324C5A;
$green_darker:        #486F6A;
$green_dark:          #5C8E7A;
$green_dark-opacity:  #5C8E7A80;
$green_brighter:      #83BAA6;
$green_lightest:      #83BAA6;
$green_swampy:        #B4D2CA;
$green_swampy-opacity: #B4D2CA66;

$red_darkest:         #6C4751;
$red_darkest-opacity: #6C475180;
$red_darker:          #89515F;
$red_dark:            #A95B6D;
$red_brighter:        #C1868D;
$red_lightest:        #D8B3AF;
$red_dark-opacity:    #a95b6d99;
$red_form_error:      #FF5044;

$orange_darkest:      #A05550;
$orange_darker:       #AD6D64;
$orange_dark:         #BA8277;
$orange_brighter:     #CFB3AB;
$orange_lightest:     #DACBC7;
$orange_lightest-opacity: #DACBC766;

$black_darkest:       #000000;
$black_darker:        #383736;
$black_dark:          #4A4948;
$black_brighter:      #7F7F7B;
$black_lightest:      #7E7F7B;
$black_opacity:       #00010533;
$ultra-black-opacity: #00000066;

$gray:                #7E7F7B;
$gray_light:          #B1AFAD;
$gray_lightest:       #E4E3E2;

/**  END COLORS */

/**
  HOVER COLORS
 */
$LIGHT_BUTTON: ( // Цвета элементов на светлом фоне
  background-color: transparent,
  border-color: $purple_darker,
  hover: $purple_darker,
  click: $purple_darkest,
  disabled: transparent,
);
$DARK_BUTTON: ( // Цвета элементов на тёмном фоне
  background-color: transparent,
  border-color: $purple_darker,
  hover: #FFFFFF,
  click: #FFFFFF,
  disabled: transparent,
);

$LINK_AND_OTHER: ( // Цвета ссылок и других элементов
  light: $purple_darker,
  dark: white,
  hover: $purple_lightest,
  click: $purple_brighter,
);

$DISABLED: $gray_light;

/**
  END HOVER COLORS
 */

/** ANIMATION TIME **/
$ANIMATE_TIME: .3s ease 0s;


@mixin transition($props...) {
  $result: #{''};

  @for $i from 0 to length($props) {
    @if($i == 0) {
      $result: #{#{nth($props, $i + 1)} $ANIMATE_TIME};
    } @else {
      $result: #{$result #{nth($props, $i + 1)} $ANIMATE_TIME};
    }

    @if (length($props) == 1) {
      $result: $result;
    } @else if ($i != (length($props) - 1)) {
      $result: #{$result  ', '};
    }
  }

  transition: $result;
  @content;
}

/** Высота шапки навигации **/
$HEADER_HEIGHT: 79px;

.background {
  &_purple_dark {
    background-color: $purple_dark;
    &--with-white-text {
      background-color: $purple_dark;
      @include transition(background-color);
    }
  }

  &_purple_darker {
    background-color: $purple_darker;
    &--with-white-text {
      background-color: $purple_darker;
      @include transition(background-color);
    }
  }

  &_yellow_darkest {
    background-color: $yellow_darkest;
    &--with-white-text {
      background-color: $yellow_darkest;
      @include transition(background-color);
    }
  }

  &_light_blue_darkest {
    background-color: $light_blue_darkest;
    &--with-white-text {
      background-color: $light_blue_darkest;
      @include transition(background-color);
    }
  }

  &_green_dark {
    background-color: $green_dark;
    &--with-white-text {
      background-color: $green_dark;
      @include transition(background-color);
    }
  }

  &_red_darkest {
    background-color: $red_darkest;
    &--with-white-text {
      background-color: $red_darkest;
      @include transition(background-color);
    }
  }

  &_light_blue_lightest {
    background-color: $light_blue_lightest;
    @include transition(background-color);
    &--with-white-text {
      background-color: $light_blue_lightest;
      @include transition(background-color);
    }
  }

  &_orange_lightest {
    background-color: $orange_lightest;
    @include transition(background-color);
    &--with-white-text {
      background-color: $orange_lightest;
      @include transition(background-color);
    }
  }

  &_green_swampy {
    background-color: $green_swampy;
    @include transition(background-color);
    &--with-white-text {
      background-color: $green_swampy;
      @include transition(background-color);
    }
  }
}
