include components/fullscreen_slider
include components/button

doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='css/main.css')
    body
        +fullscreen_slider("Эвакуатор<br>во Владикавказе"
        )(showText=true showButton=true showNumber=true)
            +slider__item(style="background-image: url('images/main.png');")
        div.services.inner-container
            h2 Стоимость услуг
            div.services__blocks
                div.small__block.service
                    img(src="images/moto.svg" alt="")
                    p.simple Мотоциклы и квадроциклы
                    p.bold от 1 000 руб.
                div.small__block.service
                    img(src="images/car.svg" alt="")
                    p.simple Легковой автомобиль
                    p.bold от 1 000 руб.
                div.small__block.service
                    img(src="images/off-road.svg" alt="")
                    p.simple Кроссоверы и внедорожники
                    p.bold от 1 200 руб.
                div.big__block.service
                    img(src="images/truck.svg" alt="")
                    p.simple Коммерческий транспорт
                    p.bold от 1 500 руб.
                div.big__block.service
                    img(src="images/special.svg" alt="")
                    p.simple Спецтехника
                    p.bold от 1 300 руб.
            +buttonMain(href="tel:89890370151")
        include components/footer
