
footer.footer
    div.footer-content.inner-container
        a.footer-logo(href="https://highbase.ru/")
            p.logo-inf Разработано
            img.logo-img(src="images/hb.svg" alt="")
        div.footer-info
            div.phone
                img(src="images/tobe-orange.svg" alt="")
                p.number 8 (989) 037-01-51
            div.addres
                p РСО-Алания, г. Владикавказ
            a.instagram(href="https://instagram.com/evakuator_vladikavkaz15")
                img(src="images/instagram.svg" alt="")
                p.instagram-inf Мы в инстаграмм
