include button

mixin fullscreen_slider(title)
    div.fullscreen
        div.inner-container
            div.fullscreen-content__container
                if attributes.showNumber
                    div.number
                        img(src="images/tube.svg" alt="")
                        a(href="tel:89890370151") 8 (989) 037-01-51
                div.title
                    h1!=title

                    if attributes.showText
                        p.slider-text
                            | Закажи самый быстрый и надежный
                            | эвакуатор на дорогах РСО-Алании
                    if attributes.showButton
                        +buttonMain(href="tel:89890370151")
                div.service-attributes
                    div.attribute
                        img(src="images/clock.svg" alt="")
                        p
                            | Подача
                            | за 10-20 минут
                    div.attribute
                        img(src="images/like.svg" alt="")
                        p
                            | Бережная
                            | транспортировка
                    div.attribute
                        img(src="images/rub.svg" alt="")
                        p
                            | Выгодные цены
                            | от 1 000 руб.

        div.fullscreen_slider
            if block
                block




mixin slider__item
    div.fullscreen__item(style=attributes.style)
