mixin big_simple_card
    div.big_simple_card(class!=attributes.card_style style!=attributes.style class!=attributes.card_color)
        div.big_simple_card__container(style!=attributes.plank_background_styles class!=attributes.plank_color)
            if block
                block


//- Карточка Host city card
mixin host_city_card
    +big_simple_card(
        card_color="purple-color-card"
        card_style="host_city_card")
        h3.title
            | The host city
        p.card_description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        +buttonMain(commonClass="main-btn-purple",
            classArrow="btn-arrow-purple" classWrap="btn-wrap"
            margin_t_40="margin_t_40" href="/html/dist/host-city.html"
            position="right")


//- Большая карточка с нижней планкой, либо цветной, либо с изображением
mixin simple_card_with_bottom_plank(title, description, link, button_position)
    +big_simple_card(
        card_color="white-color-card"
        card_style=attributes.card_style
        plank_color=attributes.plank_color
        plank_background_styles=attributes.plank_background_styles
        style=attributes.style)

        h3.title
            =title
        p.card_description
            =description
        +buttonMain(
            classWrap="btn-wrap"
            href=link
            position=button_position)


// Карточка с фоновым изображением
mixin simple_card_only_background(title, description, link, button_position)
    +big_simple_card(
        card_color="white-color-card"
        card_style=attributes.card_style
        style=attributes.style)

        h3.title
            =title
        p.card_description
            =description
        +buttonMain(
            classWrap="btn-wrap"
            href=link
            position=button_position)


//- Большая карточка с нижней планкой, либо цветной, либо с изображением
mixin card_with_svg_logo(description, link, button_position)
    +big_simple_card(
        card_color="white-color-card"
        card_style=attributes.card_style
        plank_background_styles=attributes.plank_background_styles
        style=attributes.style)

        div.svg_logo(class=attributes.svg)
        p.card_description
            =description
        +buttonMain(
            classWrap="btn-wrap"
            href=link
            position=button_position)
